<br/><br/>
<div class="basic-grey">
  <h1>Seja bem-vindo!</h1>
    <ul>
      <li><span><%= image_tag "phone.svg" %> </span> <%=link_to 'Contatos', contacts_path%></li>
      <li><span><%= image_tag "kinds.svg" %> </span> <%= link_to 'Tipos', kinds_path%></li>
    </ul>
</div>